#nav {
    background: #c00;
    padding: 10px;
    overflow: hidden;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    float: left;
}

#nav li a {
    padding: 0 10px;
    color: #fff;
}

.active {
    background: #ddd;
}

.hovering {
    background: #de0;
}

form>div {
    padding: 10px;
}

@media only screen and (max-width:480px ) {
    /*TODO */
}